#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# provider file for testing - should be manually added
provider.tf

# visual code
**/.vscode/*

# macOS related files
**/.DS_Store
.terraform.lock.hcl
